/* element selector - this will style every ol */
ol {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

/* id selector - the element with the given id will be styled*/
#unorderedList{

    margin:50px;
    border-style: dashed;
    border-width: 5px;
    border-color: aquamarine;
    padding: 20px;
    transform: rotate(120deg);

}

/* class selector - every element with this clas will be styled*/
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*flex-end would put it on the right*/
    justify-content: center;
}
