header{
    display: flex;
    justify-content: center;
    width: 45vw;
    margin: auto;
    border-style: double;
    border-width: 3px;
}

img{
    width: 15%;
    height: 15%;
    margin: auto;
}