<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="nav-link" routerLink="">
                    <img src="../../../assets/pokeball.png" alt="">
                </a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="welcome">Welcome</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="pokedex">Pokedex</a>
            </li>
        </ul>
    </div>
</nav>
