.grid-container{
    margin: 5%;
    display: flex;
    position: relative;
    gap: 10%;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr)
}

.todo-card {
    width: 10em;
    border-style: double;
    border-width: 5px;
    border-radius: 10%;
    text-align: center;
    background-color:burlywood;
}

button{
    background-color: burlywood;
    border-radius: 25%;
}

input{
    width: 80%
}

#myName{
    width: 15%;
    margin-top: 30px;
}